<div>
	<!-- Submit Query Comes here -->
	<div id="myFeedback" class="queryContent">
	  <h3 style="text-align:center;">Feedback | Improvice</h3>
	  <p>Please provide your valuable feedback</p>
	  <div class="formFields">
	    <div class="leftMargin">
	      <label>Name</label>
	    </div>
	    <input class="btnLarge" type="text" placeholder="NAME" />    
	    <div class="divider"></div>

	    <div class="leftMargin">
	      <label class="leftMargin">Email</label>
	    </div>
	    <input class="btnLarge" type="text" placeholder="EMAIL" />
	    <div class="divider"></div>

	    <div class="leftMargin">
	      <label class="leftMargin">Phone</label>
	    </div>
	    <input class="btnLarge" type="text" placeholder="XX-XXXXXXXXXX" />
	    <div class="divider"></div>

	    <div class="leftMargin commentDiv">
	      <label class="leftMargin">Comment</label>
	    </div>
	    <textarea class="btnLarge" type="textarea" placeholder="DESCRIPTION"></textarea>
	     <div class="divider"></div>
	      <div>
	        <input type="button" class="submitFeedbk" value="Submit" /> 
	      </div>     
	  </div>
	</div>
</div>