<div class="commonPos gradientTop">
 <div class="space"></div>	
  <div class="topHeader">
	<div class="innerHeader">
		<div class="headerTxt">Hi,I am Mayank Nimje <hr/><span>Scroll to know more about me...</span></div>
	</div>
  </div>

  <div class="headerNavBar">
	<ul>
		<li><a href="#aboutMe">About</a></li>
		<li><a href="#mySkills">My Skills</a></li>
		<li><a href="#">Experience</a></li>
		<li><a href="#">Education</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">BloG</a></li>
	</ul>
  </div>	
  <div class="caption about" id="about">
    <span class="border"> 
      <span class="leftMarker"></span> 
      <span class="innerText"> <a href="#aboutMe"><i>About Me </i></a></span>
    </span>
  </div>
</div>